<div>
    <h2>Edit Contacts</h2>
    <table>
        <thead>
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Edit</th>
               
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input ng-model="contact.GivenName" class="form-control" />
                </td>
                <td>
                    <input ng-model="contact.Surname" class="form-control" />
                </td>
                <td>
                    <span class="input-group-btn">
                        <button ng-click="update()" class="btn btn-default">Update</button>
                    </span>

                </td>

            </tr>
        </tbody>
</table>
</div>
   


